<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.business.frame">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="PUSH_APPID"
            tools:replace="android:value"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            tools:replace="android:value"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            tools:replace="android:value"
            android:value="${GETUI_APP_SECRET}"/>
    </application>

</manifest>
